<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="container">
        <div class="row">
            {{> header}}
        </div>
        <div class="row" style="background-color:white;padding:10px;flex-grow: 1;">
            <div class="col-md-4">
                <img class=" img-responsive" src="/img/user.png" />
            </div>
            <div class="col-md-8">
                <p style="text-align:center">This site was created By Pooja Joshi. It used data from LocationID and DarkSky.net</p>
            </div>
        </div>
        <div class="row">
            {{> footer}}
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>