<header>
    <h1>{{title}} </h1>
    <ul class="nav nav-pills">
        <li>
            <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li>
            <a href="/about"><span class="glyphicon glyphicon-info-sign"></span> About</a>
        </li>
        <li>
            <a href="/help"><span class="glyphicon glyphicon-question-sign"></span> Help</a>
        </li>
    </ul>
</header>