body{
    background: linear-gradient(#ccccff, #0066ff);
}
.container{
    color: #333333;
    font-family: arial;
    margin: 0 auto;
    padding: 16px;
}
.givehight{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(255,255,255,.5);
}
.well{
    background-color: white;
    }
footer{
    color: #0e0d0d;
    border-top: 1px solid #757474;
    margin-top: 16px;
    padding: 16px 0;
}
header{
    margin-top: 16px;
    margin-bottom: 48px;
}
h1{
    font-size: 64px;
    margin-bottom: 16px;
}
a{
    color: #2e2d2d;
}
.portrait{
    width: 100px;
}
.main-content{
    flex-grow: 1;
}